<h4>Formularios <small> reactivos </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="formulario">



    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col">
            <input [class.is-invalid]="nombreInvalido" formControlName="nombre" class="form-control" type="text"
                placeholder="Nombre">
            <small *ngIf="nombreInvalido" class="form-text text-danger">Ingrese un nombre
                valido.</small>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col">
            <input [class.is-invalid]="apellidoInvalido" formControlName="apellido" class="form-control" type="text"
                placeholder="Apellido">
            <small *ngIf="apellidoInvalido" class="form-text text-danger">Ingrese un apellido
                valido.</small>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">
            <input [class.is-invalid]="correoInvalido" formControlName="correo" class="form-control" type="email"
                placeholder="Correo electrónico">
            <small *ngIf="correoInvalido" class="form-text text-danger">Ingrese un correo
                valido.</small>
        </div>
    </div>

    <!-- Tambien nombramos el conjunto de controles con formgroup name -->
    <div class="form-group row mb-3" formGroupName="direccion">
        <div class="row">
            <label class="col-2 col-form-label">Direccion</label>
            <div class="col">
                <input [class.is-invalid]="distritoInvalido" formControlName="distrito" class="form-control" type="text"
                    placeholder="Distrito">
                <small *ngIf="distritoInvalido" class="form-text text-danger">Ingrese un distrito
                    valido.</small>
            </div>
            <div class="col">
                <input [class.is-invalid]="ciudadInvalido" formControlName="ciudad" class="form-control" type="text"
                    placeholder="ciudad">
                <small *ngIf="ciudadInvalido" class="form-text text-danger">Ingrese una cuidad
                    valida.</small>
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary">
                Guardar
            </button>
        </div>
    </div>

</form>

<!-- veamos el estado del form -->
<hr>
<pre>
    estado del form: {{ formulario.valid }}
    <br>
    Status: {{ formulario.status }}
</pre>

<pre>
    {{ formulario.value | json}}
</pre>