<h4>Formularios <small> template </small></h4>
<hr>

<!-- hacemos una referencia local con #nombre -->
<form autocomplete="off" (ngSubmit)="guardar(tempForm)" #tempForm="ngForm">

    <div>
        <!-- las validaciones se hacen por medio de clases en el html propias de angular         -->
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">Nombre</label>

            <!-- ngModel se coloca con corchetes porque solo cambiamos informacion desde aqui -->
            <div class="col-8">
                <input class="form-control" 
                name="nombre"
                [class.is-invalid] = "nombre.invalid && nombre.touched"
                [ngModel] = "usuario.nombre" 
                type="text" 
                required
                minlength="3"
                #nombre = "ngModel"
                placeholder="Nombre">
                <small *ngIf="nombre.invalid && nombre.touched"
                class="form-text text-danger">Ingrese 3 letras.</small>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" 
                type="text"
                name="apellido"
                [class.is-invalid] = "apellido.invalid && apellido.touched"
                [ngModel] = "usuario.apellido"
                required
                minlength="3"
                #apellido = "ngModel"
                placeholder="Apellido">
                <small *ngIf="apellido.invalid && apellido.touched"
                class="form-text text-danger">Ingrese 3 letras.</small>
            </div>
        </div>

    </div>

    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <!-- validamos el email con uanexpresion regular -->
            <input class="form-control" 
            type="email" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            [class.is-invalid] = "correo.invalid && correo.touched"
            placeholder="Correo electrónico"
            [ngModel] = "usuario.correo"
            name="correo"
            #correo = "ngModel">
            <small *ngIf="correo.invalid && correo.touched"
                class="form-text text-danger">Ingrese un correo valido.</small>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select name="pais" 
                    [disabled]="paises.length === 0"
                    [class.is-invalid] = "pais.invalid && pais.touched"
                    [ngModel]="usuario.pais" 
                    #pais="ngModel"
                    required
                    class="form-control">
                <option [value]="p.codigo" *ngFor="let p of paises">
                    {{ p.nombre }}
                </option>
            </select>
            
            <small *ngIf="pais.invalid && pais.touched"
            class="form-text text-danger">Ingrese pais.</small>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="flexCheckDefault">
                  Masculino
                </label>
                <input class="form-check-input" 
                        type="radio" 
                        value="M"
                        [class.is-invalid] = "genero.invalid && genero.touched"
                        [ngModel]="usuario.genero"
                        name="genero"
                        required
                        #genero="ngModel">
              </div>

              <div class="form-check form-check-inline">
                <label class="form-check-label" for="flexCheckDefault">
                  Femenino
                </label>
                <input class="form-check-input" 
                        type="radio" 
                        value="F"
                        [class.is-invalid] = "genero.invalid && genero.touched"
                        [ngModel]="usuario.genero"
                        name="genero"
                        required
                        #genero="ngModel">
              </div>
            
            <small *ngIf="genero.invalid && genero.touched"
            class="form-text text-danger">Seleccione genero.</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>

</form>